<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hacker.black</title>
  <link rel="icon" type="image/x-icon" href="icon.ico">
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <main ng-app="FalloutConsole" ng-controller="MainController">
    <div id="terminal">
      <div class="landing-view" ng-show="gamestate === 'landing'" ng-cloak>
        <div id="terminal-head">
          <pre>AKANE ASAHI (TM) TERMLINK PROTOCOL</pre>
          <br>
          <pre>Welcome to my Terminal</pre>
          <pre>Find the password to win.</pre>
          <br>
          <pre>Press Enter to start</pre>
        </div>
      </div>
      <div class="playing-view" ng-show="gamestate === 'playing'" ng-cloak>
        <div id="terminal-head">
          <pre>AKANE ASAHI (TM) TERMLINK PROTOCOL</pre>
          <pre>!!! WARNING: LOCKOUT IMMINENT !!! 
          </pre>
          <pre>ATTEMPTS REMAINING: <i ng-repeat="num in boxes">■ </i></pre>
        </div>
        <div id="terminal-screen">
          <div id="terminal-left">
            <span ng-repeat="line in left" class="code-line">
              <pre class="byte">0xF000 </pre>
              <pre class="data">{{line[0]}}</pre>
              <pre class="data">{{line[1]}}</pre>
              <pre class="data">{{line[2]}}</pre>
              <pre class="data">{{line[3]}}</pre>
              <pre class="data">{{line[4]}}</pre>
              <pre class="data">{{line[5]}}</pre>
              <pre class="data">{{line[6]}}</pre>
              <pre class="data">{{line[7]}}</pre>
              <pre class="data">{{line[8]}}</pre>
              <pre class="data">{{line[9]}}</pre>
              <pre class="data">{{line[10]}}</pre>
              <pre class="data">{{line[11]}}</pre>
              <br>
            </span>
          </div>
          <div id="terminal-right">
            <span ng-repeat="line in right" class="code-line">
              <pre class="byte">0xF000 </pre>
              <pre class="data">{{line[0]}}</pre>
              <pre class="data">{{line[1]}}</pre>
              <pre class="data">{{line[2]}}</pre>
              <pre class="data">{{line[3]}}</pre>
              <pre class="data">{{line[4]}}</pre>
              <pre class="data">{{line[5]}}</pre>
              <pre class="data">{{line[6]}}</pre>
              <pre class="data">{{line[7]}}</pre>
              <pre class="data">{{line[8]}}</pre>
              <pre class="data">{{line[9]}}</pre>
              <pre class="data">{{line[10]}}</pre>
              <pre class="data">{{line[11]}}</pre>
              <br>
            </span>
          </div>
        </div>
        <div id="terminal-sidebar">
          <div id="terminal-history">
            <pre
              ng-repeat="line in sidebar track by $index"><span class="cursor" ng-show="line !== ''">></span>&nbsp;{{line}}</pre>
          </div>
          <pre id="selection">></pre>
        </div>
      </div>
      <div class="game-over-view" ng-show="gamestate === 'game-over'" ng-cloak>
        <div id="terminal-head">
          <pre>AKANE ASAHI (TM) TERMLINK PROTOCOL</pre>
          <br>
          <pre>Lockout.</pre>
          <pre>Press Enter to play again</pre>
        </div>
      </div>
      <div class="game-win-view" ng-show="gamestate === 'game-win'" ng-cloak>
        <div id="terminal-head">
          <pre>AKANE ASAHI (TM) TERMLINK PROTOCOL</pre>
          <br>
          <pre>Password Accepted.</pre>
          <pre>Press Enter to play again</pre>
        </div>
      </div>
    </div>
  </main>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="./script.js"></script>

</body>

</html>